<%= form_tag("/events/create") %>
    <label>Titel</label>
    <input type="text" name="title"/>
    
    <br/>
    
    <label>Datum</label>
    <input type="date" name="moment" />
    
    <input type="submit">
</form>

